<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>
<body>
	<p th:if="${message}" th:text="${message}"
	style="color: blue;">完了メッセージ</p>
	
	<p th:if="${errorMessage}" th:text="${errorMessage}" 
	style="color: red;">エラーメッセージ</p>
	
	<table border="1" width="500">
		<thead>
				<tr>
					
					<th>シフト日</th>
					<th>開始時間</th>
					<th>終了時間</th>
					<th>編集</th>
					
				</tr>
			</thead>
			<tbody>
					<tr th:each="home : ${home}">
						
						<td th:text="${home.shiftDate}"></td>
						<td th:text="${home.startTime}"></td>
						<td th:text="${home.endTime}"></td>
						<td>
							<a th:href="@{/shift/edit/{id}(id=${home.id})}">
								<input type="submit" value="編集">
							</a>
							<form th:action="@{/shift/delete/{id}(id=${home.id})}" method="post">
								<input type="submit" value="削除">
							</form>
						</td>
					</tr>
				</tbody>
				
	</table>
	<a th:href="@{/shift/form}">新規登録</a>

</body>
</html>