<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shift.repository.ShiftsMapper">

<!-- シフトを新規に挿入する -->
    <insert id="insertShift" parameterType="com.example.shift.entity.Shifts">
        INSERT INTO shifts (shift_date, start_time, end_time, total_hours, hourly_wage)
        VALUES (#{shiftDate}, #{startTime}, #{endTime}, #{totalHours}, #{hourlyWage})
    </insert>

    <!-- シフトをIDで取得する -->
    <select id="getShiftById" parameterType="java.lang.Integer" resultType="com.example.shift.entity.Shifts">
        SELECT * FROM shifts WHERE id = #{id}
    </select>

    <!-- 全てのシフトを取得する -->
    <select id="getAllShifts" resultType="com.example.shift.entity.Shifts">
        SELECT * FROM shifts
    </select>

    <!-- シフトをIDで更新する -->
    <update id="updateShift" parameterType="com.example.shift.entity.Shifts">
        UPDATE shifts
        SET shift_date = #{shiftDate},
            start_time = #{startTime},
            end_time = #{endTime},
            total_hours = #{totalHours},
            hourly_wage = #{hourlyWage}
        WHERE id = #{id}
    </update>

    <!-- シフトをIDで削除する -->
    <delete id="deleteShift" parameterType="java.lang.Integer">
        DELETE FROM shifts WHERE id = #{id}
    </delete>

    <!-- 時給を更新する -->
    <update id="updateShiftHourlyWage" parameterType="com.example.shift.entity.Shifts">
        UPDATE shifts
        SET hourly_wage = #{hourlyWage}
        WHERE id = #{id}
    </update>


</mapper>